In [71]:
import pandas as pd
pandas.__version__

'2.2.2'

In [72]:
import numpy as np
pd?

Type:        module
String form: <module 'pandas' from 'C:\\Users\\ASTROJOE\\anaconda3\\Lib\\site-packages\\pandas\\__init__.py'>
File:        c:\users\astrojoe\anaconda3\lib\site-packages\pandas\__init__.py
Docstring:
pandas - a powerful data analysis and manipulation library for Python
=====================================================================

**pandas** is a Python package providing fast, flexible, and expressive data
structures designed to make working with "relational" or "labeled" data both
easy and intuitive. It aims to be the fundamental high-level building block for
doing practical, **real world** data analysis in Python. Additionally, it has
the broader goal of becoming **the most powerful and flexible open source data
analysis / manipulation tool available in any language**. It is already well on
its way toward this goal.

Main Features
-------------
Here are just a few of the things that pandas does well:

  - Easy handling of missing data in floating point as well as non-floating
    point data.
  - Size mutability: columns can be inserted and deleted from DataFrame and
    higher dimensional objects
  - Automatic and explicit data alignment: objects can be explicitly aligned
    to a set of labels, or the user can simply ignore the labels and let
    `Series`, `DataFrame`, etc. automatically align the data for you in
    computations.
  - Powerful, flexible group by functionality to perform split-apply-combine
    operations on data sets, for both aggregating and transforming data.
  - Make it easy to convert ragged, differently-indexed data in other Python
    and NumPy data structures into DataFrame objects.
  - Intelligent label-based slicing, fancy indexing, and subsetting of large
    data sets.
  - Intuitive merging and joining data sets.
  - Flexible reshaping and pivoting of data sets.
  - Hierarchical labeling of axes (possible to have multiple labels per tick).
  - Robust IO tools for loading data from flat files (CSV and delimited),
    Excel files, databases, and saving/loading data from the ultrafast HDF5
    format.
  - Time series-specific functionality: date range generation and frequency
    conversion, moving window statistics, date shifting and lagging.

In [6]:
# Series Object 

data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [8]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [9]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [11]:
# Data can be accessed by their associated index like in Numpy 

data[1]

0.5

In [12]:
data[1:3]

1    0.50
2    0.75
dtype: float64

In [16]:
# The difference between the Series object and the Numpy array is that while the 
# Numpy array implicitly defined interger index, Pandas Series explicitly defines
# the inde. This allows the index to be of any data type.

data = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [17]:
# The items can be accessed as normal
data['b']

0.5

In [25]:
# Noncontiguous or nonsequential indices can be used also 

data = pd.Series([0.25, 0.5, 0.75, 1.0], index=[2, 5, 3, 7])
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [19]:
data[5]

0.5

In [30]:
# The takes the key of the dictionary as the index of the Series Objects. 
# This shows the underlying relatoinship between Series and a dictionary.
# In older versions of Pandas the keys of the dict is sorted as the default.

population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict).sort_index() # sort_index() is used to sort
                                                     # the Series index.
population

California    38332521
Florida       19552860
Illinois      12882135
New York      19651127
Texas         26448193
dtype: int64

In [26]:
population['California':'Illinois']

California    38332521
Florida       19552860
Illinois      12882135
dtype: int64

In [27]:
# A Series is generally constructed in format: pd.Series(data, index=index) 
# A Series data can either be a List or Numpy array, A scalar or a dictionaryabs

# As a Lists or Numpy array 
pd.Series([1,2,3,4,5]) # Where the index can either be explicitly defined or not

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [28]:
# As a scalar

pd.Series(5, index=[100,200,300,400,500]) # The scala is repeated to fill the 
                                          # specified index

100    5
200    5
300    5
400    5
500    5
dtype: int64

In [29]:
# As a dictionary, in which the the index to be printed can be explicitly defined 

pd.Series({2:'a', 1:'b', 3:'c'}, index=[3,2])

3    c
2    a
dtype: object

In [32]:
# DatFrame Object 

area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict).sort_index()
area

California    423967
Florida       170312
Illinois      149995
New York      141297
Texas         695662
dtype: int64

In [34]:
states = pd.DataFrame({'population':population, 'area':area})
states

            population    area
California    38332521  423967
Florida       19552860  170312
Illinois      12882135  149995
New York      19651127  141297
Texas         26448193  695662

In [36]:
states.index

Index(['California', 'Florida', 'Illinois', 'New York', 'Texas'], dtype='object')

In [38]:
states.columns

Index(['population', 'area'], dtype='object')

In [39]:
states.values

array([[38332521,   423967],
       [19552860,   170312],
       [12882135,   149995],
       [19651127,   141297],
       [26448193,   695662]], dtype=int64)

In [43]:
states['area']

California    423967
Florida       170312
Illinois      149995
New York      141297
Texas         695662
Name: area, dtype: int64

In [58]:
# Different ways of constructing a DataFrame.

# From a single Series object
pd.DataFrame(population, columns=['population'])

            population
California    38332521
Florida       19552860
Illinois      12882135
New York      19651127
Texas         26448193

In [46]:
# As a list of dictionaries 

data =  [{'a':i, 'b':2 * i} for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [47]:
# If some keys are missing, Pandas will replace them with NaN(Not a Number)

pd.DataFrame([{'a':1, 'b': 2}, {'b':3, 'c':4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [59]:
# From a dictionary of Series objeects (traditional way)

pd.DataFrame({'population':population, 'area':area})

            population    area
California    38332521  423967
Florida       19552860  170312
Illinois      12882135  149995
New York      19651127  141297
Texas         26448193  695662

In [76]:
# From two-dimensional Numpy arrays

pd.DataFrame(np.random.rand(3,2), columns=['foo', 'bar'], index=['a', 'b', 'c'])

        foo       bar
a  0.539542  0.755547
b  0.097544  0.092922
c  0.044121  0.742849

In [79]:
sth = np.zeros(2, dtype=[('A', 'i8'), ('B', 'f8')])
pd.DataFrame(sth)

   A    B
0  0  0.0
1  0  0.0