In [1]:
# Data Selection in Series

In [2]:
# Series as a Dictionary

In [77]:
import pandas as pd 
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [4]:
data['b']

0.5

In [5]:
# Normal python expressions for dictionaries work also 
'a' in data

True

In [6]:
data.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [9]:
list(data.items())

[('a', 0.25), ('b', 0.5), ('c', 0.75), ('d', 1.0)]

In [10]:
data['e'] = 1.25
data

a    0.25
b    0.50
c    0.75
d    1.00
e    1.25
dtype: float64

In [11]:
# As a one dimensional array

In [12]:
# Slicing by explicit index 
data['a':'c']

a    0.25
b    0.50
c    0.75
dtype: float64

In [13]:
# Slicing by implicit integer index 
data[0:2]

a    0.25
b    0.50
dtype: float64

In [17]:
# Array masking : Filtering array usinh boolean conditions 

(data > 0.3) & (data < 0.8)

a    False
b     True
c     True
d    False
e    False
dtype: bool

In [14]:
data[(data > 0.3) & (data < 0.8)]

b    0.50
c    0.75
dtype: float64

In [18]:
# Generic array properties

print(data.ndim)
print(data.shape)
print(data.dtype)

1
(5,)
float64

In [19]:
# Fancy Indexing

data[['a', 'e']]

a    0.25
e    1.25
dtype: float64

In [21]:
# Consider this example for the confusion that happens between explicit and 
# implicit indexesabs 

data = pd.Series(['a', 'b', 'c'], index=[1, 3, 5])
data

1    a
3    b
5    c
dtype: object

In [22]:
data[1] # This uses the explicit indexing

'a'

In [24]:
data[1:3] # This uses the implicit indexes even though the explicit indexes 
          # where intended.

3    b
5    c
dtype: object

In [25]:
# Indexers : These are attributes of the Series object that help in separating 
# implicit and explicit indexes.

# .loc[] is used for referencing explicit indexes. 
data.loc[1]

'a'

In [26]:
data.loc[1:3]

1    a
3    b
dtype: object

In [28]:
# .iloc[] is used for referencing implicit indexesabs. 
data.iloc[1]

'b'

In [29]:
data.iloc[1:3]

3    b
5    c
dtype: object

In [79]:
# DataFrame as a dictionary.  

area = pd.Series({'California': 423967, 'Texas': 695662,
                          'New York': 141297, 'Florida': 170312,
                          'Illinois': 149995})
pop = pd.Series({'California': 38332521, 'Texas': 26448193,
                 'New York': 19651127, 'Florida': 19552860,
                 'Illinois': 12882135})
data = pd.DataFrame({'area':area, 'pop':pop}) 
data

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

In [80]:
# Accessing the column using dictionay style.  
data['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [81]:
data.area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [90]:
# If the name of the column coincides with a method or attribute of the DataFrame
# class the method will be prioritized.
# Is it recommended to stick to the dictionary style

data['pop']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
Name: pop, dtype: int64

In [91]:
# We can also use the dictionary style to modify the object(add new columns)

data['density'] = data['pop'] / data['area']
data

              area       pop     density
California  423967  38332521   90.413926
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763