In [1]:
# Data Selection in Series

In [3]:
import pandas as pd

In [4]:
# Series as a Dictionary

In [5]:
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [4]:
data['b']

0.5

In [5]:
# Normal python expressions for dictionaries work also 
'a' in data

True

In [6]:
data.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [9]:
list(data.items())

[('a', 0.25), ('b', 0.5), ('c', 0.75), ('d', 1.0)]

In [10]:
data['e'] = 1.25
data

a    0.25
b    0.50
c    0.75
d    1.00
e    1.25
dtype: float64

In [11]:
# As a one dimensional array

In [12]:
# Slicing by explicit index 
data['a':'c']

a    0.25
b    0.50
c    0.75
dtype: float64

In [13]:
# Slicing by implicit integer index 
data[0:2]

a    0.25
b    0.50
dtype: float64

In [17]:
# Array masking : Filtering array usinh boolean conditions 

(data > 0.3) & (data < 0.8)

a    False
b     True
c     True
d    False
e    False
dtype: bool

In [14]:
data[(data > 0.3) & (data < 0.8)]

b    0.50
c    0.75
dtype: float64

In [18]:
# Generic array properties

print(data.ndim)
print(data.shape)
print(data.dtype)

1
(5,)
float64

In [19]:
# Fancy Indexing

data[['a', 'e']]

a    0.25
e    1.25
dtype: float64

In [21]:
# Consider this example for the confusion that happens between explicit and 
# implicit indexesabs 

data = pd.Series(['a', 'b', 'c'], index=[1, 3, 5])
data

1    a
3    b
5    c
dtype: object

In [22]:
data[1] # This uses the explicit indexing

'a'

In [24]:
data[1:3] # This uses the implicit indexes even though the explicit indexes 
          # where intended.

3    b
5    c
dtype: object

In [25]:
# Indexers : These are attributes of the Series object that help in separating 
# implicit and explicit indexes.

# .loc[] is used for referencing explicit indexes. 
data.loc[1]

'a'

In [26]:
data.loc[1:3]

1    a
3    b
dtype: object

In [28]:
# .iloc[] is used for referencing implicit indexesabs. 
data.iloc[1]

'b'

In [29]:
data.iloc[1:3]

3    b
5    c
dtype: object

In [33]:
# DataFrame as a dictionary.  

area = pd.Series({'California': 423967, 'Texas': 695662,
                          'New York': 141297, 'Florida': 170312,
                          'Illinois': 149995})
pop = pd.Series({'California': 38332521, 'Texas': 26448193,
                 'New York': 19651127, 'Florida': 19552860,
                 'Illinois': 12882135})
data = pd.DataFrame({'area':area, 'pop':pop}) 
data.sort_index(inplace=True)
data

              area       pop
California  423967  38332521
Florida     170312  19552860
Illinois    149995  12882135
New York    141297  19651127
Texas       695662  26448193

In [34]:
# Accessing the column using dictionay style.  
data['area']

California    423967
Florida       170312
Illinois      149995
New York      141297
Texas         695662
Name: area, dtype: int64

In [35]:
data.area

California    423967
Florida       170312
Illinois      149995
New York      141297
Texas         695662
Name: area, dtype: int64

In [36]:
# If the name of the column coincides with a method or attribute of the DataFrame
# class the method will be prioritized.
# Is it recommended to stick to the dictionary style

data['pop']

California    38332521
Florida       19552860
Illinois      12882135
New York      19651127
Texas         26448193
Name: pop, dtype: int64

In [38]:
# We can also use the dictionary style to modify the object(add new columns)

data['density'] = data['pop'] / data['area']
data

              area       pop     density
California  423967  38332521   90.413926
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763
New York    141297  19651127  139.076746
Texas       695662  26448193   38.018740

In [39]:
# DataFrame as a two-dimensional array 
# Using the values attribute
data.values

array([[4.23967000e+05, 3.83325210e+07, 9.04139261e+01],
       [1.70312000e+05, 1.95528600e+07, 1.14806121e+02],
       [1.49995000e+05, 1.28821350e+07, 8.58837628e+01],
       [1.41297000e+05, 1.96511270e+07, 1.39076746e+02],
       [6.95662000e+05, 2.64481930e+07, 3.80187404e+01]])

In [40]:
data.T # For transposing a DataFrame

           California       Florida      Illinois      New York         Texas
area     4.239670e+05  1.703120e+05  1.499950e+05  1.412970e+05  6.956620e+05
pop      3.833252e+07  1.955286e+07  1.288214e+07  1.965113e+07  2.644819e+07
density  9.041393e+01  1.148061e+02  8.588376e+01  1.390767e+02  3.801874e+01

In [46]:
# Using loc[], iloc[]
# The use of these method allows for the use of the implicit python indexing 
# while the output is printed using the explicit DataFrame index.

# .loc[] allows for the use of the explicit indexes for sliciing

data.loc[:'Illinois', :'pop']

              area       pop
California  423967  38332521
Florida     170312  19552860
Illinois    149995  12882135

In [43]:
# .iloc[] allows for the use of the implicit index while the output still uses 
# the explicit. 
data.iloc[:3, :2]

              area       pop
California  423967  38332521
Florida     170312  19552860
Illinois    149995  12882135

In [45]:
data.loc[data.density > 100, ['pop', 'density']]

               pop     density
Florida   19552860  114.806121
New York  19651127  139.076746

In [48]:
data.iloc[0, 2] = 90
data

              area       pop     density
California  423967  38332521   90.000000
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763
New York    141297  19651127  139.076746
Texas       695662  26448193   38.018740

In [66]:
# WHILE INDEXING REFERS TO CLOUMNS, SLICING REFERS TO ROWS.

In [63]:
# Printing out multiple columns
data[['area', 'density']]

              area     density
California  423967   90.000000
Florida     170312  114.806121
Illinois    149995   85.883763
New York    141297  139.076746
Texas       695662   38.018740

In [65]:
# Printing out multiple rows. 
data[0:3]

              area       pop     density
California  423967  38332521   90.000000
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

In [70]:
# The implicit index can be used or the explicit index when accessing rows of a 
# DataFrame.

In [69]:
data[1:4]

            area       pop     density
Florida   170312  19552860  114.806121
Illinois  149995  12882135   85.883763
New York  141297  19651127  139.076746

In [67]:
data['Florida':'New York']

            area       pop     density
Florida   170312  19552860  114.806121
Illinois  149995  12882135   85.883763
New York  141297  19651127  139.076746

In [71]:
data[data.density > 100]

            area       pop     density
Florida   170312  19552860  114.806121
New York  141297  19651127  139.076746