In [1]:
import pandas as pd 
import numpy as np

In [7]:
rng = np.random.RandomState(42) # Creating a random number generator 
ser = pd.Series(rng.randint(0, 10, 4)) # Creating a series object 
ser

0    6
1    3
2    7
3    4
dtype: int32

In [8]:
# Creating a DataFrame object 

df = pd.DataFrame(rng.randint(0, 10, (3,4)), columns=['A', 'B', 'C', 'D'])
df

   A  B  C  D
0  6  9  2  6
1  7  4  3  7
2  7  2  5  4

In [10]:
# Note: Pandas can perform basic arithmetic opertions like +, -, *, /, but numpy
# will still be needed for higher operations like trigonometric, exponential or
# logarithmic operations 

# All NumPy Ufuncs are in disposal to be used on Pandas Series or DataFrame object

In [5]:
np.exp(ser)

0     403.428793
1      20.085537
2    1096.633158
3      54.598150
dtype: float64

In [6]:
np.sin(df * np.pi / 4)

              A         B         C         D
0  7.071068e-01 -0.707107 -0.707107  0.707107
1  1.224647e-16  0.000000  0.707107 -0.707107
2 -2.449294e-16  0.000000  0.707107  1.000000

In [34]:
# Index Alignment in Series object

In [27]:
area = pd.Series({'Alaska': 1723337, 'Texas': 695662,
                  'California': 423967}, name='area')
population = pd.Series({'California': 38332521, 'Texas': 26448193,
                        'New York': 19651127}, name='population')
# area

In [32]:
# Any item where one or the other does not have an entry is marked with 
# NaN (Not a Number ). 

population + area

Alaska               NaN
California    38756488.0
New York             NaN
Texas         27143855.0
dtype: float64

In [ ]:
# Comparing the indexes of two series using set operations

In [18]:
area.index.union(population.index)

Index(['Alaska', 'California', 'New York', 'Texas'], dtype='object')

In [20]:
area.index.intersection(population.index)

Index(['Texas', 'California'], dtype='object')

In [24]:
area.index.difference(population.index)

Index(['Alaska'], dtype='object')

In [22]:
population.index.difference(area.index)

Index(['New York'], dtype='object')

In [33]:
# In other to avoid Nan output, the Ufunc can be used instead of arithmetic 
# symbols and the 'fill_value=' parameter 

population.add(area, fill_value=0)

Alaska         1723337.0
California    38756488.0
New York      19651127.0
Texas         27143855.0
dtype: float64

In [ ]:
# Index alignment in DataFrame