In [1]:
import pandas as pd 
import numpy as np

In [7]:
rng = np.random.RandomState(42) # Creating a random number generator 
ser = pd.Series(rng.randint(0, 10, 4)) # Creating a series object 
ser

0    6
1    3
2    7
3    4
dtype: int32

In [8]:
# Creating a DataFrame object 

df = pd.DataFrame(rng.randint(0, 10, (3,4)), columns=['A', 'B', 'C', 'D'])
df

   A  B  C  D
0  6  9  2  6
1  7  4  3  7
2  7  2  5  4

In [10]:
# Note: Pandas can perform basic arithmetic opertions like +, -, *, /, but numpy
# will still be needed for higher operations like trigonometric, exponential or
# logarithmic operations 

# All NumPy Ufuncs are in disposal to be used on Pandas Series or DataFrame object

In [5]:
np.exp(ser)

0     403.428793
1      20.085537
2    1096.633158
3      54.598150
dtype: float64

In [6]:
np.sin(df * np.pi / 4)

              A         B         C         D
0  7.071068e-01 -0.707107 -0.707107  0.707107
1  1.224647e-16  0.000000  0.707107 -0.707107
2 -2.449294e-16  0.000000  0.707107  1.000000